@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
  background-color: #fff;
  margin: 0;
}

section {
  margin: 0;
  display: grid;
  align-content: start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 25%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-areas: 
    "cont1   cont2   cont3   cont3"
    "cont1   cont2   cont3   cont3"
    "cont4   cont5   cont6   cont7"
    "cont4   cont5   cont6   cont7"
    "cont8   cont9   cont9   cont7"
    "cont8   cont9   cont9   cont7"
    "cont10  cont11  cont12  cont13"
  ;
}
h1, h2 {
  font-family: Arvo, sans-serif;

}

h1 {
  text-align: center;
  font-size: 2em;
  line-height: 53px;
  font-weight: 400;
  margin-bottom: 0;
}
h2 {
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  font-size: 1.7em;
}

h3 {
  font-size: 1em;
  color: #9fa3a7;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

p {
  font-size: 1em;
  color: #9fa3a7;
}

a {
  text-align: center;
}

.cont1 {
  grid-area: cont1;
  padding: 0 5%;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  top: 42%;
}


.cont2 {
  grid-area: cont2;
}

.edm-img {
  width: 23vw;
  margin-top: 36%;
  border-radius: 14%;
}


.cont3 {
  grid-area: cont3;
  background-color:#F4F4F4;
}

.cont3-title {
  margin-top: 24%;
}

.hiphop-link {
  padding-left: 46%;
  color: #27b9c2;
  text-decoration: underline;
}

.cont4 {
  grid-area: cont4;
  background-color: #f05638;
}

.indie-img {
  width: 91%;
  margin-left: 4%;
  margin-top: 17%;
  border-radius: 50%;
}

.indie-title {
  margin-top: 23%;
}

.arrow-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.indie-link {
  color: #ffc80a;
  text-align: center;
  margin: 0 40%;
}

.yellow-arr {
  font-size: 16px;
}

.cont5 {
  grid-area: cont5;
}

.pop-img {
  width: 66.5%;
  margin: 0px 17%;
  border-radius: 4%;
}

.pop-link {
  color: #27b9c2;
}

.pop-arrow {
  font-size: 19px;

}


.cont6 {
  grid-area: cont6;
  margin-top: 47%;
  padding: 0 5%;
}

.cont7 {
  grid-area: cont7;
  background-color: #8f76bc;
}

.guitar-container {
  background-color: hsla(0, 0%, 100%, .08);
  text-align: center;
  width: 23%;
  border-radius: 25px;
  position: relative;
  margin-left: 38%;
  top: 5.5%;
  margin-top: 36%;
}

.guitar-title {
  background-image: url(https://www.clipartmax.com/png/small/162-1627560_guitar-analog-deliciousness-rock-band-guitar-logo.png);
  background-position: 6px 51%;
  background-size: 12px;
  background-repeat: no-repeat;
}

.rockImg-container {
  height: 31%;
  background: #8166b0;
  border-radius: 55%;
  margin: 0 3%;
}

.rock-img {
  width: 57%;
  border-radius: 6%;
  margin: 15% 0 0 22%;
}

h4, h5, .band-title, .rock-description {
  color: #fff;
}

.band-title {
  margin-bottom: 0;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  position: relative;
  margin-left: 44%;
  bottom: 4.6%;
}

h5 {
  position: relative;
  bottom: 1.5%;
  font-family: Arvo, sans-serif;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
   margin-top: 38%;
}

.rock-description {
  padding: 0 9%;
  text-align: center;
}

.rock-btn {
  border-radius: 50px;
  background-color: #ffc80a;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 0px 23%;
  padding: 2% 17%;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

.cont8 {
  grid-area: cont8;
}

.flamenco-img {
  width: 96%;
  padding-left: 3%;
  margin-top: 24%;
  border-radius: 100px;
}

.flamenco-lnk {
  color: #27b9c2;
  margin-left: 42%;
  position: relative;
  top: 3%;
} 

.flamenco-arrow {
  font-size: 14px;
}

.cont9 {
  grid-area: cont9;
  background-color:#93b6b7;
}

.instr-cont {
  background-color: #fa684f;
  width: 14%;
  margin-left: 4%;
  border-radius: 6px;
  margin-top: 3%;
}

.instr-tag {
  text-align: center;
  color: white;
  font-size: .5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.instr-title {
  position: relative;
  top: 6%;
}

.instr-img {
  width: 47.5vw;
  height: 36vh;
  margin-left: 2%;
  margin-top: 10%;
  border-radius: 7px;
}

.cont10 {
  grid-area: cont10;
  background-color: #38d5f4;
}

.rock-container {
  background: #0AA9CF;
  border-radius: 56%;
  width: 19vw;
  margin: 0px 12%;
  height: 30vh;
  margin-top: 2%;
}

.rock-img {
  width: 47%;
  margin-left: 28%;
  margin-top: 21%;
  border-radius: 7%;
}

.rock-title {
  color: white;
}

.ambient-title {
  margin-top: 3%;
}

.relax-container {
  background-color: #7bc424;
  width: 26%;
  text-align: center;    
  margin: 0 38%;
  border-radius: 6px;
}

.relax-title {
  color: #fff;
  font-size: 12px;
  margin-top: 90%;
}

.cont11 {
  grid-area: cont11;
}

.cont12 {
  grid-area: cont12;
}

.brit-img {
  width: 72%;
  margin: 16% 0 0 15%;
}

.cont13 {
  grid-area: cont13;
}

.brit-rock-desc {
  color: white;
  font-size: 25px;
  margin-top: 22%;
  margin-right: 19%;
}

.cont12, .cont13 {
  background-color:#2c2c2c;
}