@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
  background-color: #fff;
  margin: 0;
}

section {
  margin: 0;
  display: grid;
  align-content: start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 25%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "cont1   cont2   cont3   cont3"
    "cont1   cont2   cont3   cont3"
    "cont4   cont5   cont6   cont7"
    "cont4   cont5   cont6   cont7"
    "cont8   cont9   cont9   cont7"
    "cont8   cont9   cont9   cont7"
    "cont10  cont11  cont12  cont12"
    "cont10  cont11  cont12  cont12"
  ;
}
h1, h2 {
  font-family: Arvo, sans-serif;

}

h1 {
  text-align: center;
  font-size: 2em;
  line-height: 53px;
  font-weight: 400;
  margin-bottom: 0;
}
h2 {
  line-height: 32px;
  font-weight: 400;
  font-size: 1.7em;
}

h3 {
  font-size: 1em;
  color: #9fa3a7;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

p {
  font-size: 1em;
  color: #9fa3a7;
}

a {
  text-align: center;
}

.cont1 {
  grid-area: cont1;
  padding: 0 5%;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  top: 42%;
}


.cont2 {
  grid-area: cont2;
}

.edm-img {
  width: 24.7vw;
  margin-top: 36%;
  border-radius: 14%;
}


.cont3 {
  margin-left: 5%;
  grid-area: cont3;
  background-color:#F4F4F4;
}

.cont3-title {
  margin-top: 24%;
}

.hiphop-link {
  padding-left: 46%;
  color: #27b9c2;
  text-decoration: underline;
}

.cont4 {
  grid-area: cont4;
  background-color: #f05638;
}

.indie-img {
  width: 91%;
  margin-left: 4%;
  margin-top: 17%;
  border-radius: 50%;
}

.indie-title {
  text-align: center;
  margin-top: 23%;
}

.link-arrow {
  color: #ffc80a;
  margin-left: 41%;
}

.cont5 {
  grid-area: cont5;
  background-color:green;
}

.cont6 {
  grid-area: cont6;
  background-color: yellow;
}

.cont7 {
  grid-area: cont7;
}

.cont8 {
  grid-area: cont8;
  background-color: black;
}

.cont9 {
  grid-area: cont9;
  background-color: black;
}

.cont10 {
  grid-area: cont10;
  background-color: black;
}

.cont11 {
  grid-area: cont11;
  background-color: black;
}

.cont12 {
  grid-area: cont12;
  background-color: black;
}